
.showdown { 
	overflow: hidden;
}

.right form .showdown div.preview {
	display: block;
	background: white;
	border: 1px solid #888;
	padding: 0.25em;
	overflow: auto;
}

.right form .showdown div.preview, 
.right form .showdown textarea {
	height: 300px;
	width: 48%;
	float: left;
	clear: none;
	margin: 5px;
}
